@font-face {
  font-family: "ydiconfont"; /* Project id 2965102 */
  src: url('iconfont.woff2?t=1715134511034') format('woff2'),
       url('iconfont.woff?t=1715134511034') format('woff'),
       url('iconfont.ttf?t=1715134511034') format('truetype');
}

.ydiconfont {
  font-family: "ydiconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yd-dengluchaoshi:before {
  content: "\e6ef";
}

.yd-xunhuan1:before {
  content: "\e7b1";
}

.yd-wj-zms:before {
  content: "\e749";
}

.yd-wj-jdws:before {
  content: "\e74b";
}

.yd-wj-dazj:before {
  content: "\e756";
}

.yd-wj-sps:before {
  content: "\e76d";
}

.yd-wj-jjwj:before {
  content: "\e76f";
}

.yd-wj-wjxf:before {
  content: "\e770";
}

.yd-shebei:before {
  content: "\e70e";
}

.yd-xunhuan2:before {
  content: "\e70f";
}

.yd-shipin:before {
  content: "\e711";
}

.yd-shebei1:before {
  content: "\e712";
}

.yd-Sensitive-information-file:before {
  content: "\e713";
}

.yd-shebei2:before {
  content: "\e9fd";
}

.yd-juzhongduiqi2:before {
  content: "\e714";
}

.yd-xiaohuijilu:before {
  content: "\e715";
}

.yd-shuqian:before {
  content: "\e881";
}

.yd-wenjiansunhuai:before {
  content: "\e887";
}

.yd-bianjiwenjian:before {
  content: "\e693";
}

.yd-dengdaiwenjian:before {
  content: "\e6a7";
}

.yd-jianqiewenjian:before {
  content: "\e6a8";
}

.yd-tupian:before {
  content: "\e6aa";
}

.yd-xunhuan:before {
  content: "\e6ba";
}

.yd-cycle:before {
  content: "\e6c0";
}

.yd-juzhongduiqi:before {
  content: "\e692";
}

.yd-youduiqi:before {
  content: "\e629";
}

.yd-zuoduiqi:before {
  content: "\e657";
}

.yd-tuozhuai1:before {
  content: "\e628";
}

.yd-tuozhuai:before {
  content: "\e627";
}

.yd-redu:before {
  content: "\e650";
}

.yd--guizhangzhidu1:before {
  content: "\e8ae";
}

.yd-gongsi:before {
  content: "\ea24";
}

.yd-gongsi1:before {
  content: "\e769";
}

.yd-cuowu:before {
  content: "\e6e6";
}

.yd-mimazhongzhi:before {
  content: "\e6e7";
}

.yd-dayinbaobiao:before {
  content: "\e6e8";
}

.yd-jieshou:before {
  content: "\e6e9";
}

.yd-update:before {
  content: "\e6ea";
}

.yd-qingkong:before {
  content: "\e797";
}

.yd-xinzeng:before {
  content: "\e6ec";
}

.yd-jindu:before {
  content: "\e826";
}

.yd-morenshunxu:before {
  content: "\e6f0";
}

.yd-shangchuan:before {
  content: "\e6f1";
}

.yd-sheji:before {
  content: "\e6f2";
}

.yd-qingkong1:before {
  content: "\e6f3";
}

.yd-shunxu:before {
  content: "\e6f4";
}

.yd-charulie:before {
  content: "\e748";
}

.yd-bianjixiugai:before {
  content: "\e6f5";
}

.yd-qiehuan:before {
  content: "\e6f7";
}

.yd-cundanghao:before {
  content: "\e6f8";
}

.yd-fangan1:before {
  content: "\e6f9";
}

.yd-fangan2:before {
  content: "\e6fa";
}

.yd-jindu1:before {
  content: "\e6fb";
}

.yd-chongzhi1:before {
  content: "\e6fc";
}

.yd-charu:before {
  content: "\e6fd";
}

.yd-shunxu1:before {
  content: "\e6fe";
}

.yd-xiugai:before {
  content: "\e6ff";
}

.yd-juecebaogao:before {
  content: "\e702";
}

.yd-zhongzhi2:before {
  content: "\e703";
}

.yd-sucai:before {
  content: "\e833";
}

.yd-fangan3:before {
  content: "\e7f2";
}

.yd-tichu:before {
  content: "\e77a";
}

.yd-danganhe:before {
  content: "\e704";
}

.yd-liushuihao:before {
  content: "\e705";
}

.yd-tichu1:before {
  content: "\e706";
}

.yd-xinzeng1:before {
  content: "\e707";
}

.yd-liyong:before {
  content: "\e709";
}

.yd-danganheguanli:before {
  content: "\e70a";
}

.yd-tichu2:before {
  content: "\e70b";
}

.yd-zhihang:before {
  content: "\e70c";
}

.yd-jieshou1:before {
  content: "\e70d";
}

.yd-dengdaishenhe:before {
  content: "\e6e0";
}

.yd-shenhe1:before {
  content: "\e6e1";
}

.yd-shenhe:before {
  content: "\e6e2";
}

.yd-shenpi:before {
  content: "\e6e4";
}

.yd-ocr:before {
  content: "\e681";
}

.yd-OCR:before {
  content: "\e6db";
}

.yd-ocr1:before {
  content: "\e6dc";
}

.yd-OCR1:before {
  content: "\e6de";
}

.yd-OCR2:before {
  content: "\e6df";
}

.yd-ocr2:before {
  content: "\f4db";
}

.yd-tuoji:before {
  content: "\e6d8";
}

.yd-xiaohui:before {
  content: "\e6d9";
}

.yd-xiaohui2:before {
  content: "\e6da";
}

.yd-xiaohui1:before {
  content: "\e933";
}

.yd-zhanghu:before {
  content: "\e6d1";
}

.yd-zhanghu1:before {
  content: "\e6d2";
}

.yd-mima:before {
  content: "\e6d3";
}

.yd-yanzhengma:before {
  content: "\e6d5";
}

.yd-mima1:before {
  content: "\e6d6";
}

.yd-quzhong:before {
  content: "\e6d0";
}

.yd-wangluo:before {
  content: "\e6ca";
}

.yd-mi:before {
  content: "\e6cf";
}

.yd-tuding:before {
  content: "\e645";
}

.yd-language:before {
  content: "\e6bf";
}

.yd-minganxinxi:before {
  content: "\e6c1";
}

.yd-fangwenxianzhi:before {
  content: "\e6c2";
}

.yd-jichugongneng:before {
  content: "\e6c4";
}

.yd-jieguofenxi:before {
  content: "\e6c5";
}

.yd-chongzhimima:before {
  content: "\e6c8";
}

.yd-biaoqian:before {
  content: "\e6c9";
}

.yd-caozuorizhi:before {
  content: "\e65f";
}

.yd-tongji1:before {
  content: "\e6cc";
}

.yd-tongji2:before {
  content: "\e6cd";
}

.yd-sunhuai:before {
  content: "\e64c";
}

.yd-yonghuguanli1:before {
  content: "\e644";
}

.yd-danganjieyue:before {
  content: "\e65e";
}

.yd-renwu:before {
  content: "\e647";
}

.yd-renwudanguanli:before {
  content: "\e610";
}

.yd-xiaoxi:before {
  content: "\e60d";
}

.yd-xiangqing2:before {
  content: "\e6ab";
}

.yd-shenpiliucheng:before {
  content: "\e60e";
}

.yd-danganzhulu:before {
  content: "\e720";
}

.yd-xiaoxi1:before {
  content: "\e648";
}

.yd-renwufenpei:before {
  content: "\e649";
}

.yd-keluguangpan:before {
  content: "\e616";
}

.yd-xiangmujixitongguanli:before {
  content: "\e611";
}

.yd-caidanpeizhi:before {
  content: "\e617";
}

.yd-jiaoseguanli:before {
  content: "\e623";
}

.yd-rizhiguanli:before {
  content: "\e64a";
}

.yd-zidianguanli:before {
  content: "\e64d";
}

.yd-guihuan:before {
  content: "\e64e";
}

.yd-piliangyiku:before {
  content: "\e606";
}

.yd-shijianbaogao:before {
  content: "\e672";
}

.yd-nianbao:before {
  content: "\e607";
}

.yd-jieshouguanli:before {
  content: "\e64f";
}

.yd-zuhe:before {
  content: "\e84b";
}

.yd-caidanguanli:before {
  content: "\e663";
}

.yd-navicon-jsgl:before {
  content: "\e651";
}

.yd-jiaoseguanli1:before {
  content: "\e612";
}

.yd-wenjianfuwuqi:before {
  content: "\e652";
}

.yd-wendangliyongtongjishuju:before {
  content: "\e60f";
}

.yd-moban:before {
  content: "\e624";
}

.yd-shijiancelveweihu:before {
  content: "\e653";
}

.yd-zuoyebaobiao:before {
  content: "\e654";
}

.yd-wenjian:before {
  content: "\e655";
}

.yd-daibanrenwu1:before {
  content: "\e656";
}

.yd-dingqirenwu:before {
  content: "\e6d7";
}

.yd-guize:before {
  content: "\e608";
}

.yd-guajie:before {
  content: "\eac3";
}

.yd-liuchengjiankong:before {
  content: "\e60b";
}

.yd-lishiliuchengjiankong:before {
  content: "\e613";
}

.yd-xitongguanli1:before {
  content: "\e759";
}

.yd-daijieshou:before {
  content: "\e614";
}

.yd-task:before {
  content: "\e62a";
}

.yd-daibanrenwu2:before {
  content: "\e6d4";
}

.yd-jieshouqi:before {
  content: "\e7f9";
}

.yd-gangweiguanli:before {
  content: "\e62d";
}

.yd-renwujincheng:before {
  content: "\ec35";
}

.yd-gangwei:before {
  content: "\e658";
}

.yd-liuchengzhongqi:before {
  content: "\e66d";
}

.yd-liuchengzanting:before {
  content: "\e66e";
}

.yd-shoucang2:before {
  content: "\e6af";
}

.yd-zhuijiashuju:before {
  content: "\e65b";
}

.yd-daibanshixiang:before {
  content: "\ec4e";
}

.yd-shenjing:before {
  content: "\ec6f";
}

.yd-kehuyishiwupin:before {
  content: "\e65a";
}

.yd-zitiyulan:before {
  content: "\ec86";
}

.yd-shujuquanxian:before {
  content: "\e700";
}

.yd-jieyue:before {
  content: "\e779";
}

.yd-bumenguanli1:before {
  content: "\e61d";
}

.yd-bumenguanli2:before {
  content: "\e609";
}

.yd-wj-wjch:before {
  content: "\e76e";
}

.yd-liuchengguanli:before {
  content: "\e68a";
}

.yd-shuiyin:before {
  content: "\e659";
}

.yd-liuchengchaxun:before {
  content: "\e618";
}

.yd-yonghuguanli2:before {
  content: "\e62e";
}

.yd-quanwenjiansuo:before {
  content: "\e9d5";
}

.yd-xitongguanli2:before {
  content: "\e6eb";
}

.yd-yijiao-:before {
  content: "\e619";
}

.yd-caozuorizhi1:before {
  content: "\e60a";
}

.yd-zaixianyonghuguanli:before {
  content: "\e61c";
}

.yd-danganjieyue1:before {
  content: "\e60c";
}

.yd-xitongrizhi:before {
  content: "\e61e";
}

.yd-huishouzhan:before {
  content: "\e61f";
}

.yd-danganshezhi1:before {
  content: "\e816";
}

.yd-tongji:before {
  content: "\e620";
}

.yd-xitongguanli3:before {
  content: "\e66b";
}

.yd-liuchengshezhi:before {
  content: "\e683";
}

.yd-wenshidu:before {
  content: "\e65c";
}

.yd-zhutici:before {
  content: "\e68f";
}

.yd-jieyuejilu:before {
  content: "\e682";
}

.yd-bianmu:before {
  content: "\e75e";
}

.yd-daibanrenwu3:before {
  content: "\e662";
}

.yd-shoucang3:before {
  content: "\e621";
}

.yd-wenshidu1:before {
  content: "\e6ed";
}

.yd-tree:before {
  content: "\e6f6";
}

.yd-shuiyin1:before {
  content: "\e66f";
}

.yd-jieyueguanli:before {
  content: "\e622";
}

.yd-wodejieyue:before {
  content: "\e62b";
}

.yd-menlei:before {
  content: "\e62c";
}

.yd-huishouzhan1:before {
  content: "\e6ee";
}

.yd-bianmu1:before {
  content: "\e67f";
}

.yd-beifen:before {
  content: "\e6e5";
}

.yd-chehui2:before {
  content: "\e665";
}

.yd-zhongzhi-:before {
  content: "\e6b7";
}

.yd-fujianwenjianjia:before {
  content: "\e666";
}

.yd-guancangfenxi:before {
  content: "\e668";
}

.yd-chehui:before {
  content: "\e669";
}

.yd-quanwenjiansuo1:before {
  content: "\e66a";
}

.yd-jieshuliucheng:before {
  content: "\e6c3";
}

.yd-xietongbangong:before {
  content: "\e764";
}

.yd-yuanshujufenxibeifen:before {
  content: "\e688";
}

.yd-gouwuche:before {
  content: "\e670";
}

.yd-fenlei:before {
  content: "\e671";
}

.yd-danganyijiao1:before {
  content: "\e674";
}

.yd-yuanshujumoban:before {
  content: "\e99c";
}

.yd-shijian:before {
  content: "\e8c5";
}

.yd-menleitongji:before {
  content: "\e675";
}

.yd-yonghuguanli3:before {
  content: "\e677";
}

.yd-shu:before {
  content: "\e678";
}

.yd-zhihuijiansuo:before {
  content: "\e679";
}

.yd-ziyuanjiansuo:before {
  content: "\e67c";
}

.yd-kaifarenwu:before {
  content: "\e67a";
}

.yd-yijiaoxiangmu:before {
  content: "\e67b";
}

.yd-xitongguanli4:before {
  content: "\e67d";
}

.yd-xitongguanli5:before {
  content: "\e67e";
}

.yd-liuchengguanli1:before {
  content: "\e725";
}

.yd-yijiao:before {
  content: "\e680";
}

.yd-fuwujiankong:before {
  content: "\e6b0";
}

.yd-chehui1:before {
  content: "\e6ce";
}

.yd-liuchengtu:before {
  content: "\e684";
}

.yd-zhizhidangan:before {
  content: "\e685";
}

.yd-zhengli:before {
  content: "\e686";
}

.yd-paixu:before {
  content: "\e687";
}

.yd-baoshimoban:before {
  content: "\e689";
}

.yd-xitongguanli6:before {
  content: "\e6cb";
}

.yd-qingkonghuishouzhan:before {
  content: "\e68b";
}

.yd-shutu:before {
  content: "\e85b";
}

.yd-xiaoxi2:before {
  content: "\e68c";
}

.yd-tongji3:before {
  content: "\e68d";
}

.yd-jiankongcaijidian:before {
  content: "\e68e";
}

.yd-liyongtongji:before {
  content: "\e6b9";
}

.yd-quanzong2:before {
  content: "\e690";
}

.yd-ziyuanguajie:before {
  content: "\e69d";
}

.yd-liuchengtu1:before {
  content: "\e691";
}

.yd-denglurizhi:before {
  content: "\e69a";
}

.yd-danganjiansuo:before {
  content: "\e727";
}

.yd-xitongguanlikongxin:before {
  content: "\e694";
}

.yd-qidongliucheng:before {
  content: "\e695";
}

.yd-guangpan:before {
  content: "\e697";
}

.yd-shujuanquan:before {
  content: "\e71d";
}

.yd-rilishijian:before {
  content: "\e696";
}

.yd-tongjifenxi:before {
  content: "\e86b";
}

.yd-shoujixiang:before {
  content: "\e898";
}

.yd-laba:before {
  content: "\e972";
}

.yd-shiyedengji:before {
  content: "\e755";
}

.yd-yonghuguanli01:before {
  content: "\e698";
}

.yd-shujuquanxianguanli:before {
  content: "\e699";
}

.yd-shoucang4:before {
  content: "\e72c";
}

.yd-guanlianguanxi:before {
  content: "\e6a0";
}

.yd-guajietongji:before {
  content: "\e69b";
}

.yd-sixingjiance:before {
  content: "\e69c";
}

.yd-sixingjiancepeizhi:before {
  content: "\e69e";
}

.yd-shuxingkongjian:before {
  content: "\e69f";
}

.yd-zuheziduanshezhi:before {
  content: "\e6e3";
}

.yd-qiyenianbao:before {
  content: "\e6a1";
}

.yd-tongyiciguanli:before {
  content: "\e6a2";
}

.yd-xitongguanli7:before {
  content: "\e6a3";
}

.yd-daibanrenwuzhuanyi:before {
  content: "\e6a4";
}

.yd-danganjiansuo1:before {
  content: "\f08e";
}

.yd-danganmenlei:before {
  content: "\f090";
}

.yd-liuchengshezhi1:before {
  content: "\e6a5";
}

.yd-guangpan1:before {
  content: "\e6a6";
}

.yd-zaixianyonghu:before {
  content: "\e6b1";
}

.yd-danganbianyan:before {
  content: "\e701";
}

.yd-liuchengpingtai:before {
  content: "\e6a9";
}

.yd-bianyanchengguo:before {
  content: "\e7b0";
}

.yd-shu1:before {
  content: "\e6dd";
}

.yd-yibanrenwu:before {
  content: "\e6ac";
}

.yd-zidianguanli1:before {
  content: "\e6b2";
}

.yd-kufangguanli:before {
  content: "\e6b3";
}

.yd-huizhi:before {
  content: "\e6b4";
}

.yd-danganguanli4:before {
  content: "\e6c6";
}

.yd-gangwei1:before {
  content: "\e6c7";
}

.yd-aliyunVirtualDdos:before {
  content: "\e6b5";
}

.yd-xianchangjianchadengji:before {
  content: "\e6b6";
}

.yd-lingyongguihai:before {
  content: "\e6b8";
}

.yd-caidanguanli1:before {
  content: "\e6bb";
}

.yd-tongzhigonggao:before {
  content: "\e6bc";
}

.yd-yijiao1:before {
  content: "\e94f";
}

.yd-caijidian:before {
  content: "\e71e";
}

.yd-mobanpeizhi:before {
  content: "\e6bd";
}

.yd-fujianguajie:before {
  content: "\e6be";
}

.yd-jueceshu:before {
  content: "\e747";
}

.yd-remjunguanchangliang:before {
  content: "\e996";
}

.yd-shoucang:before {
  content: "\e61b";
}

.yd-fangan:before {
  content: "\e601";
}

.yd-daibanrenwu:before {
  content: "\e667";
}

.yd-shejiguifan:before {
  content: "\e604";
}

.yd-shoucang1:before {
  content: "\e61a";
}

.yd-xitongguanli:before {
  content: "\e64b";
}

.yd-xiangqing:before {
  content: "\e643";
}

.yd-tongji4:before {
  content: "\e605";
}

.yd-liushui:before {
  content: "\e625";
}

.yd-yonghuguanli:before {
  content: "\e6ad";
}

.yd-suoyourenwu:before {
  content: "\e646";
}

.yd-fanhui:before {
  content: "\e615";
}

.yd-fanhui1:before {
  content: "\e626";
}

.yd-fanhui2:before {
  content: "\e800";
}

.yd-zhinan:before {
  content: "\e905";
}

.yd-manage:before {
  content: "\e75d";
}

.yd-gongnengfuwu:before {
  content: "\e661";
}

.yd-danganguanli:before {
  content: "\e676";
}

.yd-danganguanli1:before {
  content: "\e6ae";
}

.yd-danganshouji2:before {
  content: "\e664";
}

.yd-guobiao:before {
  content: "\e600";
}

.yd-danganguanli2:before {
  content: "\e673";
}

.yd-danganshouji:before {
  content: "\e602";
}

.yd-shouji:before {
  content: "\e636";
}

.yd-danganshouji3:before {
  content: "\e77b";
}

.yd-danganguanli3:before {
  content: "\e603";
}

.yd-danganliyong:before {
  content: "\e65d";
}

.yd-danganliyong1:before {
  content: "\e63a";
}

.yd-danganliyong2:before {
  content: "\e637";
}

.yd-guidangcunchu:before {
  content: "\e660";
}

.yd-wenjiancunchu:before {
  content: "\e66c";
}

.yd-danganshouji1:before {
  content: "\ee28";
}

.yd-danganguihuan:before {
  content: "\e62f";
}

.yd-danganjieyong:before {
  content: "\e630";
}

.yd-dangantaizhang:before {
  content: "\e631";
}

.yd-danganyijiao:before {
  content: "\e632";
}

.yd-danganshezhi:before {
  content: "\e633";
}

.yd-kehuguanli:before {
  content: "\e634";
}

.yd-gongzuodating:before {
  content: "\e635";
}

.yd-huiyiguanli:before {
  content: "\e638";
}

.yd-hetongguanli:before {
  content: "\e639";
}

.yd-gongzuoqingdan:before {
  content: "\e63b";
}

.yd-gongzuobaogao:before {
  content: "\e63c";
}

.yd-gongzuotieba:before {
  content: "\e63d";
}

.yd-dingdanguanli:before {
  content: "\e63e";
}

.yd-bumenguanli:before {
  content: "\e63f";
}

.yd-jifentongji:before {
  content: "\e640";
}

.yd-wenzetongji:before {
  content: "\e641";
}

.yd-zhaopin:before {
  content: "\e642";
}

